@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (!Model.HasVoted)
    {
      <div class="float-left">
        <form asp-page-handler="UserVoted" asp-route-cardVotedOn="A">
          <button id="card-a-vote-button">
              <img src=@Model.CardImageA />
          </button>
        </form>
      </div>
      <div class="float-left">
        <form asp-page-handler="UserVoted" asp-route-cardVotedOn="B">
          <button id="card-b-vote-button">
            <img src=@Model.CardImageB />
          </button>
        </form>
      </div>
    }
    else
    {
      <div class="align-middle">
        <div class="float-left">
          <img id="card-a-image" src=@Model.CardImageA />
          <p>@Model.CardVoteDistributionPercentages.PercentageAWithPercentageSymbol</p>
        </div>
        <div class="float-left">
          <img id="card-b-image" src=@Model.CardImageB />
          <p>@Model.CardVoteDistributionPercentages.PercentageBWithPercentageSymbol</p>
        </div>
      </div>
      <p id="magic-quote">@Model.MagicQuote</p>
      <div class="float-none">
        <form asp-page-handler="RequestNewCardPair">
          <button id="next-button">Next</button>
        </form>
      </div>
    }
</div>
